<h1>Pirate</h1>

<div class="pirate">
  <h3>Name: <%= @pirates.name %></h3><br>
  <h3>Height: <%= @pirates.height %></h3><br>
  <h3>Weight: <%= @pirates.weight %></h3><br>
</div><br>

<h1>Ships</h1>
<% @ships.each do |ship| %>
  <div class="Ship">
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p><br>
  </div><br>
<% end %>






<!-- <h1><%= @pirates %></h1>


<h2><%= @pirates %></h2>


<h2>Display your second ship here</h2> -->
